<!--
	PHPUnit configuration for SilverStripe

	Requires PHPUnit 3.5+

	Usage:
	 - "phpunit": Runs all tests in all folders
	 - "phpunit framework/tests/": Run all tests of the framework module
	 - "phpunit framework/tests/filesystem": Run all filesystem tests within the framework module
	 - "phpunit framework/tests/filesystem/FolderTest.php": Run a single test
	 - "phpunit <dash><dash>coverage-html assets/": Generate coverage report (replace <dash> with "-", requires xdebug)

	More information:
	- http://www.phpunit.de/manual/current/en/textui.html
	- http://doc.silverstripe.org/framework/en/topics/testing/#configuration
-->
<phpunit bootstrap="framework/tests/bootstrap.php" colors="true">

	<testsuite name="Default">
		<directory>restfulserver/tests</directory>
	</testsuite>

	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">restfulserver</directory>
			<exclude>
				<directory suffix=".php">restfulserver/tests</directory>
			</exclude>
		</whitelist>
		<blacklist>
			<directory suffix=".php">framework</directory>
			<directory suffix=".php">cms</directory>
			<directory suffix=".php">mysite</directory>
			<directory suffix=".php">vendor</directory>
		</blacklist>
	</filter>

	<listeners>
		<listener class="SS_TestListener" file="framework/dev/TestListener.php" />
	</listeners>

	<groups>
		<exclude>
			<group>sanitychecks</group>
		</exclude>
	</groups>

	<logging>
		<log type="coverage-clover" target="coverage.clover"/>
	</logging>

	<php>
		<get name="flush" value="1"/>
	</php>

</phpunit>